body {
    background-color: green;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
    padding: 20px;
    margin: 20px;
    background: black;
    color: white;
    border-radius: 10px;
}

button:hover {
    background-color: rgb(122, 122, 133);
}

.parent {
    position: relative;
    background: white;
  width: 15vw;
  margin: 5vw 42vw;
  height: 300px;
  border: 5px dotted black;
}

.child {
    position: absolute;
    top: 0px;
    left: 0px;
}

